<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hokoory.hopass.pass.mapper.PasswordMapper">
    <insert id="insertPassword" parameterType="com.hokoory.hopass.pass.entity.Password" useGeneratedKeys="true"
            keyProperty="id">
        insert into password(user_id,title,context,web,account,password,create_time,update_time)
        value (#{userId},#{title},#{context},#{web},#{account},#{password},#{createTime},#{updateTime})
    </insert>
    <select id="getPasswordList" resultType="com.hokoory.hopass.pass.entity.Password">
        select * from password where user_id = #{user_id}
    </select>
    <select id="getPasswordDetail" resultType="com.hokoory.hopass.pass.entity.Password" >
        select * from password where id = #{id}
    </select>
</mapper>
